aiohttp==3.6.3
async-timeout==3.0.1
attrs==20.3.0
chardet==3.0.4
comtypes==1.1.7
discord==1.0.1
discord.py==1.5.1
dnslib==0.9.14
dnspython==2.0.0
idna==2.10
multidict==4.7.6
pymongo==3.11.2
pypiwin32==223
pywin32==300
pywinauto==0.6.8
scapy==2.4.4
six==1.15.0
win10toast==0.9
yarl==1.5.1
